@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
:root {
    --primary-color: #148a7c;
}
.App {
    max-width: 1700px;
    margin: auto;
}
h3 {
    margin: 0;
    font-size: 24px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 20px;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-variant: small-caps;
}
main {
    display: grid;
    grid-template-columns: auto 370px;
    gap: 20px;
    padding: 20px;

}
#aussteller-cards {
display: grid;
gap: 20px;
justify-content: center;

}
#sidebar {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
@media (max-width: 800px) {
    #sidebar {
        display: none;
    }
    main{
        grid-template-columns: auto;
    }
    
}

body {
    background-color: #393939;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

header {
    text-align: center;
    padding: 20px 20px;
}

.article img {
    max-height: 100px;
    max-width: 200px;
}

.article {
    background-color: white;
    max-width: 310px;
    box-shadow: 0 3px 10px rgb(255 255 255 / 0.2);
    border-radius: 10px;
    padding: 15px;
    border-left: 10px solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: start;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    height: 170px;
}

.card_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card_top img {
    height: 30px;
}

.card_middle {
    display: flex;
    justify-content: space-between;
}

.label_box {
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 3px;
}

.tag {
    background-color: grey;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.card_bottom {
    display: flex;
    justify-content: space-between;
}

.icon_text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon_text img {
    max-height: 20px;
}

.icon_text p {
    font-weight: 500;
}

.card_detail {
    display: none;
}

input {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-align: center;
    font-variant: small-caps;
}

@media (min-width: 740px) {
    #aussteller-cards {
        display: grid;
        grid-template-columns: 1fr;

    }
    .mobile{
        display: none !important;
    }
}

@media (min-width: 1100px) {
    #aussteller-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1450px) {
    #aussteller-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}