@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
:root {
    --primary-color: #148a7c;
}
.App {
    max-width: 1700px;
    margin: auto;
}
h3 {
    margin: 0;
    font-size: 18px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 20px;
    color: black;
}


main {
    display: grid;
    grid-template-columns: auto 370px;
    gap: 20px;
    padding: 20px;

}
#aussteller-cards {
display: grid;
gap: 20px;
justify-content: center;

}
#werbungen {
    display: grid;
    gap: 20px;
    justify-content: center;
    
    }
#sidebar {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
@media (max-width: 800px) {
    #sidebar {
        display: none;
    }
    main{
        grid-template-columns: auto;
    }
    
}

body {
    background-color: #d6d6d6;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

header {
    text-align: center;
    padding: 20px 20px;
}
.pers2{
    margin-top: -5px;
}

.article img {
    max-height: 50px;
    max-width: 130px;
    object-fit: contain;
}

.article {
    background-color: white;
    max-width: 80vw;
    box-shadow: 0 5px 10px rgb(100, 100, 100);
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
    border-left: 10px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: start;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    min-height: 180px;
    justify-content: space-between;

}


.card_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.card_top img {
    height: 30px;
}

.card_middle {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.label_box {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.icon_text >a{
    text-decoration: none;
    color: black;

}
.tag {
    background-color: grey;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.card_bottom {
    display: flex;
    justify-content: space-between;
}
.filter {
    display: flex;
    gap: 1rem;

}
.filter-col{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.filter-col label{
    padding-bottom: 0.5rem;
}



.icon_text {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card_top_right {
    display: flex;
    align-items: top;
    gap: 10px;

}
.card_top_right > h4{
    margin: 0px 0px;
}

.icon_text img {
    max-height: 20px;
}

.icon_text p {
    font-weight: 500;
}

.card_detail {
    display: none;
}

input, select{
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    height: 40px;

    padding-left: 0.5rem;
    text-align: left;
}
select{
    
}

.mobile {
    max-width: 100%;
    box-shadow: 0 3px 10px rgb(100, 100, 100);
}
.desktop{
    box-shadow: 0 3px 10px rgb(100, 100, 100);
    object-fit: contain;
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card_content_top {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;

}

@media (min-width: 740px) {
    #aussteller-cards {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    .mobile{
        display: none !important;
    }
}

@media (min-width: 1100px) {
    #aussteller-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1450px) {
    #aussteller-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}